wifi_ssid: "your-wifi-ssid"
wifi_password: "your-wifi-password"
ota_password: "your-ota-password"
mqtt_broker: "your-mqtt-broker.local"
mqtt_port: "1883"
mqtt_username: "your-mqtt-username"
mqtt_password: "your-mqtt-password"
mqtt_topic_prefix: "propane-tank-monitor"
